@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-300;
}

.btn{
    @apply border border-blue-600 px-4 py-1 rounded bg-blue-600 text-white;
}

.btn-disabled{
    @apply border border-gray-400 px-4 py-1 rounded bg-gray-400 text-white;
}
.coll{
    @apply flex flex-col justify-between h-screen w-80 p-3 border-r border-gray-400;
}

.coll-is{
    @apply fixed bg-gray-300 z-10 flex flex-col justify-between h-screen w-80 p-3 border-r border-gray-400;
}
.menu{
    @apply absolute top-[31px] flex flex-col w-40 bg-gray-300 border border-gray-400 border-t-0;
}
.item{
    @apply hover:text-blue-600 hover:bg-[#bbb] px-2 py-1.5;
}
.msg{
    @apply mr-10 self-start px-2 py-1 bg-white rounded my-1 flex;
}

.msg-me{
    @apply self-end px-2 py-1 bg-green-500 rounded ml-10 my-1 flex;
}

.tab{
    @apply border border-gray-400 px-1 cursor-pointer hover:text-blue-600;
}

.tab-a{
    @apply border border-b-0 border-gray-400 px-1 cursor-pointer text-blue-700 ;
}


.dot2 {
    display: inline-block;
    width: 3ch;
    text-indent: -1ch;
    vertical-align: bottom;
    overflow: hidden;
    animation: dot2 2s infinite step-start both;
    font-family: monospace;
}
@keyframes dot2 {
    33% {text-indent: 0;}
    66% {text-indent: -2ch;}
}

.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid green;
    border-right: 6px solid rgb(188, 184, 184);
    border-left: 6px solid rgb(188, 184, 184);
}
